body {
  height: 100vh;
  overflow: hidden;
  text-align: center;
}
.title {
  margin-top: 30px;
}
.svg-map {
  height: 500px;
  width: auto;
  margin: auto;
  .land {
    fill: #cccccc;
    fill-opacity: 1;
    stroke: white;
    stroke-opacity: 1;
    stroke-width: 1;
  }
}
